@font-face {
  font-family:"dancing";
  src:url("/next university/fotografia/fonts/DancingScript-Bold.ttf");
  }
  @font-face {
    font-family:"tangerine";
    src:url("/next university/fotografia/fonts/Tangerine_Bold.ttf");
    }

    #cabecera {
      width: 90% auto;
      height: 10%;
      font-family: "dancing";
      background:#5b7989;
      color: white;
      border-radius: 10px 10px 0 0 ;
        }
      #cabeza  {
        width: 70%;
        padding: 1%;
        text-align: left;
        font-family: "dancing" !important;
        display: inline;
        }
        #barra  {
        width: 30%;
        padding: 1%;
        text-align: right;
        font-family: "dancing";
        display: inline;
      }
      #contenido {
        padding: 0;
        display: flex;
        flex-direction:column;
      }
      #pie {

          font-family: "tangerine";
          text-align: center;
          background:  #C6d5c5;
          border-radius: 0 0 10px 10px;
          color: black;

        }
      header{
        vertical-align:middle;
      }

      a {
        padding: 1%;
        text-decoration:none;
        color: white;
        letter-spacing: 2px;
      }
      h1 {
        text-transform: capitalize;
        font-size: 2em;
        letter-spacing: 2px;
        text-shadow: 2px 2px #02010a;
        display: inline;
        }
        #logo {
          width: 110px ;
          height: 80px;
          text-align:center;

        }
        #principal {
          background: #82c3a6;
        }
      #secundario > figure > img {
        text-align: center;
        width: 100%;
        background: #d5c75f;
        border: solid 1px;
      }
      #principal > figure > img {
        text-align: center;
        width: 100%;
        border: solid 1px;
      }
        #imagen1:hover {
        animation: imagen1-animacion;
        animation-duration: 5s;
      }
      #imagen2:hover {
        animation: imagen2-animacion;
        animation-duration: 1s;

      }
      .imagenes {
        width: 95%;
        border-radius: 2px;
        border: 2px solid black;
        box-shadow: 2px 4px 8px #02010a;

      }

      .contenedor {
       display: flex;
      flex-flow:row;

   }
   .color-f {
     background: #d5c75f;

   }
  .logos{
    width: 8%;
  }
  #pie.contenedor > div {
    width: 90%;

  }
  #pie.contenedor > div > ul > li {
    list-style: none;
    font-size: 1.5vw;
    text-transform: capitalize;
  }


    h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }

  @keyframes  imagen1-animacion {
    from {
      border: 2px solid;
    }
    to {
      transform: rotate(10deg);
      border: 4px solid black;
      box-shadow: 8px 8px 16px #82c3a6;
    }

  }
  @keyframes imagen2-animacion {
    0% {
      position: relative;
      right: 0px;
    }
    50% {
    position: relative;
    bottom:2px;
    left: 10px;
    }
    100% {
    position: relative;
    bottom:5px;
    left: 20px;
    }
  }
